:root {
  /*color palette*/
  --panel-border: #000;
  --pink: #FD7BBA;
  --pink-shadow: #FC49A0;
  --ghost: rgb(230, 230, 230);
  --ghost-shadow: rgb(200, 200, 200);
  --highlight: rgba(255, 255, 255, 0.3);
  --darkgray: #444;
  --wing: rgb(255, 255, 255);
  --stick: #f9d6b2;
  --sky-light: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
  --sky-dark: linear-gradient(to bottom, #20202c 0%, #515175 100%);
  --cloud: white;
  --grass-light: #1cb03d;
  --grass: green;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: var(--pink);
}

/* LAYOUT */
/* --------------------- */
#container {
  width: max-content;
  height: max-content;
  margin: auto;
}

.panel {
  width: 400px;
  height: 600px;
  box-shadow: 5px 10px rgba(200, 200, 200, 0.2);
  border-radius: 8px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  background: var(--sky-light);
  overflow: hidden;
}

.panel:nth-of-type(1) {
  background: var(--sky-light);
}

.panel:nth-of-type(3) {
  margin-right: 0;
  background: var(--sky-dark);
}

/* POPSICLE */
/* --------------------- */
.pop-container {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
}

.pop {
  width: 186px;
  height: 300px;
  border-radius: 100px 100px 30px 30px;
}

#melting>.pop {
  background: var(--pink);
  box-shadow: 0 30px var(--pink-shadow), -2px 2px inset var(--highlight);
}

#ghost>.pop {
  background: var(--ghost);
  box-shadow: 0 30px var(--ghost-shadow), -2px 2px inset white;
}

.stick {
  width: 40px;
  height: 120px;
  margin: 10px auto;
  border-radius: 0 0 20px 20px;
}

#melting>.stick {
  background: var(--stick);
  box-shadow: 0 2px inset #d07c57, 0 6px #d07c57;
}

#ghost>.stick {
  background: var(--wing);
  box-shadow: 0 2px inset #bbb, 0 6px #bbb;
}

.indent {
  width: 45px;
  height: 200px;
  border-radius: 30px;
  margin-top: 75px;
}

.indent-left {
  float: left;
  margin-left: 30px;
}

.indent-right {
  float: right;
  margin-right: 30px;
}

#melting>.pop>.indent {
  box-shadow: -6px 6px inset var(--pink-shadow), 2px -2px inset var(--highlight);
}

#ghost>.pop>.indent {
  box-shadow: -6px 6px inset var(--ghost-shadow), 2px -2px inset var(--highlight);
}

/* MELTING */
/* --------------------- */
@keyframes dripping {
  0% {
    margin-top: 150px;
    box-shadow: 0 0 inset white, 0 0 var(--pink-shadow);
  }

  100% {
    margin-top: 500px;
    box-shadow: 0 2px inset white, 0 2px var(--pink-shadow);
  }
}

.drip {
  background-color: var(--pink);
  width: 10px;
  height: 100px;
  border-radius: 15px;
  position: absolute;
  box-shadow: 0 2px inset white;
  top: 80px;
  animation: dripping 2s ease-out infinite;
  margin-right: 30px;
}

.drip:nth-of-type(1) {
  left: 0;
  height: 15px;
  top: 100px;
}

.drip:nth-of-type(2) {
  left: 15px;
  top: 50px;
}

.drip:nth-of-type(3) {
  left: 130px;
  height: 60px;
  top: 120px;
}

/* GRAVE */
/* --------------------- */
@keyframes stick-grow {
  0% {
    top: 80px;
    width: 40px;
    height: 300px;
    background-color: var(--stick);
    box-shadow: 0 6px #d07c57;
  }

  100% {
    top: 110px;
    width: 186px;
    height: 1395px;
    background-color: var(--ghost-shadow);
    box-shadow:
      0 -29px var(--ghost),
      1px -30px var(--highlight),
      -2px 2px inset var(--highlight);
  }
}

#stick-to-grave {
  width: 186px;
  height: 1395px;
  background-color: var(--ghost-shadow);
  box-shadow:
    0 -29px var(--ghost),
    1px -30px var(--highlight),
    -2px 2px inset var(--highlight);
  border-radius: 200px;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%);
  animation: stick-grow 4s ease-in;
}

@keyframes rip-appears {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#stick-to-grave>h1 {
  opacity: 0;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Port Lligat Slab', serif;
  color: var(--darkgray);
  font-size: 60px;
  width: 100%;
  text-align: center;
  text-shadow: 0 2px var(--highlight), 0 -2px #20202c;
  animation: rip-appears 1s ease-in 4s;
  animation-fill-mode: forwards;
}

@keyframes grass-appears {
  0% {
    height: 1%;
  }

  100% {
    height: 45%;
  }
}

@keyframes grass-appears-front {
  0% {
    height: 1%;
  }

  100% {
    height: 33%;
  }
}

#grass {
  background: var(--grass);
  height: 45%;
  width: 100%;
  position: absolute;
  bottom: 0;
  animation: grass-appears 4s ease-in;
}

#grass:before {
  background:
    linear-gradient(-45deg, var(--grass) 25px, transparent 0),
    linear-gradient(45deg, var(--grass-light) 25px, transparent 0);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 8px 40px;
  content: " ";
  display: block;
  height: 50px;
  width: 100%;
  position: relative;
  bottom: 10px;
  left: 0;
}

#grass-blades {
  background:
    linear-gradient(-45deg, var(--grass) 25px, transparent 0),
    linear-gradient(45deg, var(--grass-light) 25px, transparent 0);
  background-repeat: repeat-x;
  background-size: 11px 40px;
  width: 48%;
  height: 33%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  animation: grass-appears-front 4s ease-in;
}

#grass-blades::after {
  background: var(--grass);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  top: 15px;
  left: 0;
}

/* CLOUDS */
/* --------------------- */
@keyframes clouds-passing {
  0% {
    margin-left: -510px;
  }

  100% {
    margin-left: 400px;
  }
}

.cloud {
  background-color: var(--cloud);
  height: 40px;
  width: 100px;
  border-radius: 100px;
  box-shadow: 40px 40px var(--cloud), 80px 20px var(--cloud);
  opacity: .3;
  position: absolute;
  --cloud-animation: clouds-passing 30s linear infinite;
}

.cloud:nth-of-type(1) {
  top: 30px;
  left: 100px;
  animation: var(--cloud-animation);
}

.cloud:nth-of-type(2) {
  top: 180px;
  left: 10px;
  animation: var(--cloud-animation);
}

.cloud:nth-of-type(3) {
  top: 100px;
  left: 300px;
  animation: var(--cloud-animation);
}

/* GHOST */
/* --------------------- */
@keyframes float {
  0% {
    margin-top: 0;
    opacity: 1;
  }

  50% {
    margin-top: 5px;
  }

  100% {
    margin-top: -5px;
    opacity: .8;
  }
}

#ghostpop {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  animation: float 2s ease-out infinite alternate;
}

/* WINGS */
/* --------------------- */
@keyframes wing-flap-left {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(5deg);
  }

  30% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes wing-flap-right {
  0% {
    transform: rotate(0deg) scaleX(-1);
  }

  15% {
    transform: rotate(-5deg) scaleX(-1);
  }

  30% {
    transform: rotate(0deg) scaleX(-1);
  }

  50% {
    transform: rotate(-5deg) scaleX(-1);
  }

  100% {
    transform: rotate(-10deg) scaleX(-1);
  }
}

.wing {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 210px;
}

#wing-left {
  left: 40px;
  transform: rotate(0deg);
  animation: wing-flap-left 2s ease-in-out infinite alternate;
}

#wing-right {
  right: 40px;
  transform: rotate(0deg) scaleX(-1);
  animation: wing-flap-right 2s ease-in-out infinite alternate;
}

.wing-joint {
  width: 30px;
  height: 70px;
  box-shadow: -3px -3px var(--ghost-shadow);
  position: absolute;
  transform: rotate(104deg);
  border-radius: 50% / 50%;
  top: -10px;
  left: 30px;
}

.feather {
  background-color: var(--wing);
  border-radius: 50% / 50%;
  position: absolute;
  box-shadow: 3px 3px var(--ghost-shadow);
}

.top.feather {
  width: 55px;
  height: 90px;
  transform: rotate(80deg);
  top: -30px;
}

.mid.feather {
  width: 45px;
  height: 70px;
  left: 16px;
  transform: rotate(45deg);
}

.inner.feather {
  width: 40px;
  height: 70px;
  left: 40px;
  transform: rotate(10deg);
}

/* EYES */
/* --------------------- */
.eye {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 150px;
}

.left.eye {
  left: 30px;
}

.right.eye {
  right: 30px;
}

.stem {
  width: 8px;
  height: 60px;
  background-color: var(--darkgray);
  position: absolute;
  left: 17px;
  top: -8px;
  border-radius: 4px;
}

.up.stem {
  transform: rotate(45deg);
}

.down.stem {
  transform: rotate(-45deg);
}

/* MOUTH */
/* --------------------- */
#mouth {
  position: absolute;
  width: 72px;
  height: 16px;
  top: 230px;
  left: 50px;
  border-radius: 36px / 10px;
  padding: 1px 7px;
  background: var(--darkgray);
}

#mouth-overlay {
  position: absolute;
  width: 86px;
  height: 20px;
  top: 233px;
  left: 50px;
  border-radius: 42px / 10px;
  box-shadow: 0 -4px var(--darkgray);
}

.tooth {
  background-color: white;
  height: 25px;
  width: 18px;
  box-shadow: 0 3px var(--ghost-shadow);
  border-radius: 10px / 15px;
  float: left;
}
